body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #30336e;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  nav {
    background-color: #46459b;
    overflow: hidden;
    text-align: center;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .container {
    padding: 20px;
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  img{
    width: 100%; 
    max-width: 1000px; 
    display: block; 
    margin: auto;
  }

  .mapa{
    margin-bottom: 20px;
  }